# Optional. Export these variables in your shell; .env is not loaded automatically.
# VYOM_DATA_DIR=/path/to/private/data
# Vision remains OFF until a model is explicitly configured.
# Use a locally installed, licensed, image-capable Ollama model.
# VYOM_VISION_MODEL=qwen2.5vl:7b
# VYOM_VISION_URL=http://127.0.0.1:11434
